* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 1024px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 0;
  text-transform: uppercase;
  color: rgb(122, 121, 121);
}
header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
main {
  width: 1024px;
  margin: 0 auto;
}
article {
  width: 50%;
  float: left;
  color: rgb(122, 121, 121);
}
button {
  background: rgb(122, 121, 121);
}
.section-inner h4 + h2 {
  margin-top: 15px;
  margin-bottom: 25px;
}
