* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 1024px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 0;
  text-transform: uppercase;
  color: rgb(122, 121, 121);
}
header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
main {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
.article-wrapper {
  display: flex;
  flex-wrap: wrap;
}
article {
  width: 50%;
  color: rgb(122, 121, 121);
  padding: 0 29px;
  margin: 65px 0;
}
button {
  background: transparent;
  width: 165px;
  height: 60px;
  margin: 0 0 30px;
}
article img {
  width: 100%;
}
article img + p {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 30px;
}
.more {
  text-align: center;
}
article h2 {
  margin: 30px 0 40px;
}
